
@font-face {
    font-weight: 500;
    font-family: 'Fritz Quadrata Cyrillic';
    src: url('fonts/fritz-quadrata-cyrillic.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Fritz Quadrata Cyrillic, arial;
}

hr {
    width: 100%;
}

i {
    opacity: 0.8;
}

.d-none {
    display: none;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 100vh;

    padding: 30px 10px;

    background-color: white;
}

.content-containter {
    display: flex;
    justify-content: center;
   
    max-width: 800px;
    width: 100%;
}   

.cool-shadow {
    border-radius: 15px;
    box-shadow: 0px 0px 20px 2px rgba(34, 60, 80, 0.4);
    -webkit-box-shadow: 0px 0px 20px 2px rgba(34, 60, 80, 0.4);
    -moz-box-shadow: 0px 0px 20px 2px rgba(34, 60, 80, 0.4);
}

.half-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    min-width: 300px;
    max-width: 400px;
    height: 100%;
    min-height: 500px;
    max-height: 500px;

    padding: 10px;

    color: #46494C;
    background-color: #DCDCDD;
}

.half-container.avatar {
    border-right: 1px #b8b8b8 solid;
    border-radius: 15px 0px 0px 15px;
}

#save-btn {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 3px;
    width: 22px;
    height: 22px;
}

.avatar-top {
    display: flex;
    justify-content: start;
    width: 100%;
    height: 25px;

    margin: 5px 0px;
    padding: 0px 5px;
}

.half-container.avatar .label-container {
    flex: 1 1 0;
}

.half-container.avatar .label-container span {
    margin-right: 7px;
}

.avatar .player-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 400px;
}

.avatar .player-avatar img {
    height: 400px;
}

.label {
    font-size: 20px;
}

.label.small {
    font-size: 14px;
}


.label-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    
    padding: 10px 0px;
    /* background-color: #fff; */
}

.half-container .content {
    display: flex;    
    flex-direction: column;
    width: 100%;
    border-radius: 8px;

    /* background-color: #da7ee2; */
}

.content.scrolled {
    overflow: scroll;
} 
.content.scrolled::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}


.content.scrolled::-webkit-scrollbar-thumb {
    background-color: #cacaca;
    border-radius: 20px;
}


.characteristics .items.mut {
    margin-bottom: 10px;
}

.items.mut .item {
    display: flex;
    justify-content: space-between;

    min-height: 36px;

    padding: 8px 25px;
}

.items.mut .item .left-side {
    display: flex;
    align-items: center;
}

.items.mut .item .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.items.mut .right-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 70px;
}

.items.mut .right-side button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;
    
    color: white;
    border: 0px;
    background-color: #4C5C68;
    font-size: 10px;
}

.items.mut .right-side button:hover {
    background-color: #49535A;
    cursor: pointer;
}
.items.mut .right-side button:active {
    background-color: #424d55;
}

.half-container.characteristics {
    border-radius: 0px 15px 15px 0px;
}

.characteristics .items.immut {
    display:  flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
    font-size: 14px;
    padding: 5px 25px;

} 

.items.immut .item {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 105px;
    width: 100%;

    margin-bottom: 10px;
}

.half-container.abilities {
    border-radius: 0px 15px 15px 0px;
}

.half-container.abilities .label {
    display: flex;
}

#info-holder {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 16px;
    
    margin-left: 5px;
    margin-top: 4px;
    margin-bottom: 2px;

    border: 1px #46494C solid;
    opacity: 0.6;
    border-radius: 50%;  
    
    font-size: 8px;

    transition: opacity ease-in .2s;
}

#info-holder:hover {
    opacity: 1;
}


.items.skills {
    display: flex;
    flex-direction: column;
    border-radius: 8px;

    background-color: #C5C3C6;
}

.items.skills .item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    min-height: 50px;

    padding: 10px 25px;

    cursor: pointer;
    user-select: none;
}

.items.skills .item:hover {
    background-color: #bdbdbd;
}

.items.skills .left-side {
    display: flex;
    align-items: center;

}

.skill-info-title {
   color: #9F4F4F;
}

.skill-info-title:hover {
   color: #F24236;
}

.skill-info-helptext {
    font-size: 10px;
    opacity: 0.5;
}

.items.skills .img-holder {
    width: 40px;
    height: 40px;
    background-color: #d5e482;
    border: 2px solid;
    margin-right: 10px;
}
.items.skills .img-holder img {
    width: 100%;
}

.items.skills .right-side span {
   color: #929292;
   font-size: 14px;
}


.change-name-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 200px;
    height: 100px;

    padding: 10px;
    background-color: #fff;
}

.change-name-form .content {
    flex: 1 1 0;  
} 

.change-name-form .content input {
    width: 100%;
    height: 30px;
    
    padding: 5px;
}

.change-name-form .label {
    margin-bottom: 5px;
}

.btn-container {
    display: flex;
    justify-content: space-between;

    width: 100%;

    padding: 0px 10px;
}

.abilities .btn-container {
    padding: 0px 25px;
    justify-content: end;
}

.change-name-form .btn {
    padding: 5px 7px;
    
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.btn.submit {
    color: #fff;
    background-color: #0DAB76;
}
.btn.submit:hover {
    background-color: #099b6a;
}
.btn.submit:active {
    background-color: #118a61;
}

.btn.close {
    color: #fff;
    background-color: #ED474A;
}
.btn.close:hover {
    background-color: #e03e41;
}
.btn.close:active {
    background-color: #c03437;
}

.btn.small {
    font-size: 12px;
    border: 0px;
    border-radius: 4px;
    padding: 3px;

    width: 20px;
    height: 20px;
}

.btn.transp {
    border-radius: 4px;
    background-color: #DCDCDD;
}

.btn.transp:hover {

    background-color: #bdbdbd;
}

.text-dark-red {
    color: #9F4F4F;
}

.fixed-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 200px;
    height: 60px;
    position: fixed;
    bottom: 0;
}
.fixed-panel button {
    width: 80px;
    height: 50px;
}

@media (max-width: 650px) {
    .content-containter {
        flex-wrap: wrap;
        max-width: 400px;
        border-radius: 15px;
    }

    .half-container.avatar {
        border-right: none;
        border-bottom: 1px #b8b8b8 solid;
        border-radius: 15px 15px 0px 0px;
    }
    
    .half-container.characteristics {
        border-radius: 0px 0px 15px 15px;
        max-height: 600px;
    }
}